.fc {
    @apply h-full;
	font-family: sans-serif;
	.fc-header-toolbar.fc-toolbar{
		&.fc-toolbar-ltr{
            @apply bg-trefle-light-green border-t-2 border-x-2 border-trefle-soft-black box-border rounded-t-3 font-normal mb-0;
            .fc-toolbar-chunk{
                &:first-child, &:last-child{
                    @apply flex-1;
                }
                button.fc-button{
                    @apply bg-transparent w-full text-left text-trefle-soft-black border-0;
                    &:hover{
                        @apply text-trefle-green;
                    }
                }
                &:last-child button.fc-button{
                    @apply text-right;
                }
                &:nth-child(2){
                    @apply uppercase font-medium;
                }
            }
        }
	}
    .fc-daygrid{
        @apply rounded-b-4.25 overflow-hidden;
        &:after{
            content: "";
            @apply absolute inset-0 shadow-trefle-soft-black rounded-b-4.25 z-10 pointer-events-none;
            box-shadow: inset 0 0 0 2px var(--tw-shadow-color);
        }
        &>table, &>table td, &>table th{
            @apply border-trefle-soft-black border-2 #{!important};
        }
        &>table{
            @apply border-collapse rounded-b-4.25 overflow-hidden;
            thead tr th{
                @apply rounded-none bg-trefle-ulight-blue text-trefle-soft-black font-bold;
            }
            td{
                @apply relative;
                .fc-daygrid-day-top{
                    @apply flex-row p-1;
                    a{
                        @apply font-bold h-7 w-7 flex justify-center items-center text-sm;
                    }
                }
                &.fc-day-other{
                    @apply bg-trefle-ulight-green;
                    &:before{
                        @apply absolute inset-0 shadow-trefle-soft-black;
                        content: "";
                        box-shadow: 0 0 0 2px var(--tw-shadow-color);
                    }
                }
                &.fc-day-today{
                    @apply bg-trefle-fake-white;
                    &:before{
                        @apply absolute inset-0 shadow-trefle-soft-black;
                        content: "";
                        box-shadow: 0 0 0 2px var(--tw-shadow-color);
                    }
                    .fc-daygrid-day-top{
                        @apply p-1;
                        a{
                            @apply h-7 w-7 rounded-full bg-trefle-green text-white flex justify-center items-center text-sm;
                        }
                    }
                }
                div.fc-daygrid-body{
                    @apply h-full;
                    &>table{
                        @apply h-full #{"!important"};
                    }
                }
            }
            table.fc-scrollgrid-sync-table{
                &>tbody{
                    &>tr:last-of-type{
                        &>td:first-of-type{
                            &:before{
                                @apply rounded-bl-4;
                            }
                        }
                        &>td:last-of-type{
                            &:before{
                                @apply rounded-br-4;
                            }
                        }
                    }
                }
            }
            tbody table tr:last-child td:first-child{
                @apply rounded-bl-3;
            }
            tbody table tr:last-child td:last-child{
                @apply rounded-br-3;
            }
        }
        table[role=presentation] th{
            border-bottom: 0 !important;
        }
    }
    .fc-timegrid{
        table.fc-scrollgrid{
            scrollbar-color: transparent theme("colors.trefle-soft-black");
            scrollbar-width: thin;
            ::-webkit-scrollbar {
                width: .25rem;
            }
            ::-webkit-scrollbar-track {
                background: transparent;
            }
            ::-webkit-scrollbar-thumb {
                border-radius: .125rem;
                background: theme("colors.trefle-soft-black");
            }
            thead{
                @apply hidden;
            }
            @apply border-2 rounded-b-4 overflow-hidden border-trefle-soft-black;
            tbody tr td{
                div.fc-timegrid-body{
                    @apply w-full #{"!important"};
                    div.fc-timegrid-slots{
                        &>table{
                            @apply w-full #{"!important"};
                            tbody{
                                tr{
                                    td.fc-timegrid-slot{
                                        @apply  h-14;
                                        &.fc-timegrid-slot-label{
                                            @apply border-r-2 border-r-trefle-soft-black border-t-0 border-b-0 bg-trefle-fake-white;
                                            &>div{
                                                @apply transform -translate-y-1/2 font-bold h-full flex items-center;
                                            }
                                        }
                                        &.fc-timegrid-slot-lane{
                                            &:not(.fc-timegrid-slot-minor){
                                                @apply border-t border-t-trefle-soft-black border-dotted
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    div.fc-timegrid-cols{
                        &>table{
                            @apply w-full #{"!important"};
                            .fc-timegrid-event{
                                @apply shadow-none #{"!important"};
                            }
                            &>tbody>tr>td.fc-day-today{
                                @apply bg-transparent;
                            }
                        }
                    }
                }
            }
        }
    }
}